@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5d0;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 0.2rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn1 span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.btn1:hover{
    background: var(--green);
    color:#fff;
}

.btn1:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    word-spacing: 1px;
    transition: 0.3s;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 2rem;
}

.header .navbar a:hover{
    color:var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* w3 schools drop down starts */

.navbar .dropdown .dropbtn {
    background-color:#fff;
    color: var(--light-color);
    padding: 0 15px;
    font-size: 1.72rem ;
    border: none;
  }
  
.navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  
.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.navbar .dropdown-content a {
    color: var(--light-color);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
.navbar .dropdown-content a:hover {background-color: #ddd;}
  
.navbar .dropdown:hover .dropdown-content {display: block;}
  
.navbar .dropdown:hover .dropbtn {color: var(--green);}

/* w3 schools drop down ends */

/* courses css starts */

.course h1{
    margin-top: 50px;
}

.course .heading span{
    color: var(--green);
}

.course .box-container{
    /* to make things center starts */
    display: flex;
    align-items: center;
    justify-content: center;
    /* to make things center ends */
    flex-wrap: wrap;
}

.course .box-container .box{
    width:35rem;
    position: relative;
    margin:1.5rem;  
}

.course .box-container .box img{
    height:20rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:1rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.5rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding:0.7rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:red;
    font-size: 3rem;
}

/* courses css ends */

/* modules css starts */

.modules .module h3{
    text-align: center;
    font-size: 4.5rem;
    color: var(--black);
    padding: 1rem 0;
    text-shadow: var(--text-shadow);
}

.modules .module a{
    color:#444;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modules .module .btn{
    margin-top: 30px;
    border: #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modules css ends */

/* w3 schools drop down starts */

/* .modules .dropdown .dropbtn {
    background-color:#fff;
    color: var(--light-color);
    padding: 0 15px;
    font-size: 1.72rem ;
    border: none;
  }
  
.modules .dropdown {
    position: relative;
  }
  
.modules .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.modules .dropdown-content a {
    color: var(--light-color);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
.modules .dropdown-content a:hover {background-color: #ddd;}

.modules .dropdown:hover .dropdown-content {display: block;}

.modules .dropdown:hover .dropbtn {color: var(--green);} */

/* w3 schools drop down ends */

/* modules css ends */

/* footer css starts */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .mail{
    text-transform: none;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span a{
    color:var(--green);
}

/* footer css ends */



/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

    .header .navbar .dropdown .dropbtn{
        font-size: 2rem;
        margin-left: 0.7rem;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}